.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  .body {
    flex: 1;
    .content {
      width: 1200px;
      margin: auto;
      background: #fff;
    }
  }
  .column-mid {
    display: flex;
    align-items: center;
  }
}

#main {
  background: rgb(34, 149, 90);
  min-height: 100%;
}