.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  .body {
    flex: 1 1 auto;
  }
  .column-mid {
    display: flex;
    align-items: center;
  }
}

#main {
  background: rgb(34, 149, 90);
  height: 100%;
}