.footer {
  flex: 0 0 120px;
  padding: 50px 0;
  background: rgb(44, 46, 47);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  .center {
    text-align: center;
    display: inline-block;
    width: 1200px;
    .right {
      float: right;
      .footer-row {
        line-height: 75px;
      }
    }
    .left {
      text-align: left;
      float: left;
      .footer-row {
        margin-bottom: 5px;
        cursor: default;
        i {
          margin-right: 5px;
        }
        a {
          color: #fff;
          cursor: pointer;
          text-decoration: none;
        }
      }
    }
  }
}